# Visual Studio Code
.vscode/
.suo

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.*.json
dub.*.sdl
docs.json
__dummy.html


# Code coverage
*.lst

# Examples
example/example

# others
.DS_Store
*.zip
core
